[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
fastapi = "*"
uvicorn = "*"
jinja2 = "*"
tensorflow = "*"
pillow = "*"
python-dotenv = "*"
argparse = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
dev = "uvicorn index:app --reload --port 8000"
start = "uvicorn index:app --port 8000"
